.inputContainer {
    margin: 2%;
    position: relative;
}

.inputElement {
    padding: 7px 15px;
    border: 1px solid #ccc;
    position: relative;
    background: transparent;
    z-index: 1;
    border-radius: 3px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-size: 12px;
    font-weight: bold;
}

.invalid {
    border: 1px solid red;
    color: red;
}
