.Button {
    border: none;
    height: 48px;
    border-radius: 3px;
    background-clip: padding-box;
    box-shadow: 0 4.045px 6.472px -2.427px rgba(10, 27, 37, 0.4);
    padding: 2%;
    transition: all 0.1s linear;
    position: relative;
    margin: 2%;
    cursor: pointer;
    outline: none;
    width: 96%;
    min-height: 48px;
    min-width: 130px;
    font-size: 14px;
    color: #ffffff;
    background-color: #46b049;
}

.Button:hover {
    box-shadow: 0 10.59px 16.944px -6.354px rgba(10, 27, 37, 0.4);
}
.Button:active {
    box-shadow: 0 4.045px 6.472px -2.427px rgba(10, 27, 37, 0.4);
}
