.worksheet {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 500px;
}

.worksheet tbody tr td {
    border: 1px solid #ccc;
    min-width: 100px;
}

.noResults {
    text-align: center;
    color: #666;
}
